<!DOCTYPE html>
<html>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
</canvas><canvas id="personalityChart"></canvas>
<script type="text/javascript">
	var ctx = document.getElementById('personalityChart').getContext('2d')
	var personalityChart = new Chart(ctx, {
	  type: 'bar',
	  data: {
	    labels: ['Openness', 'Extraversion', 'Emotional Range', 'Conscientiousness', 'Agreeableness'],
	    datasets: [{
          pointHighlightFill : "black",
	      label: 'Percentil',
	      data: ["<%= @response["personality"][0]["percentile"] * 100 %>",
	      		 "<%= @response["personality"][1]["percentile"] * 100 %>",
	      		 "<%= @response["personality"][2]["percentile"] * 100 %>",
	      		 "<%= @response["personality"][3]["percentile"] * 100 %>",
	      		 "<%= @response["personality"][4]["percentile"] * 100 %>"
	      		],
	      backgroundColor: "rgba(51, 102, 15,0.4)"
	    }]
	  },
	  options: { 
        legend: {
            labels: {
                fontColor: "black"                
            }
        },

        scale: {
        	gridLines: {
        		color: "black"
        	},

        	pointLabels: {
            backgroundColor: "black"
          }
        }


    }
	});
	Chart.defaults.global.defaultFontColor = 'black';



</script>

<% @recommended.each do |gift| %>
	<p><%= gift.title %></p>
	<p><%= gift.tags %></p>
<% end %>
</body>
</html>
