<!DOCTYPE html>
<html>
<head>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
</canvas><canvas id="personalityChart"></canvas>
<script type="text/javascript">
	var ctx = document.getElementById('personalityChart').getContext('2d')
	var personalityChart = new Chart(ctx, {
	  type: 'bar',
	  data: {
	    labels: ['Openness', 'Extraversion', 'Emotional Range', 'Conscientiousness', 'Agreeableness'],
	    datasets: [{
          pointHighlightFill : "white",
	      label: 'Percentil',
	      data: ["<%= @response["personality"][0]["percentile"] * 100 %>",
	      		 "<%= @response["personality"][1]["percentile"] * 100 %>",
	      		 "<%= @response["personality"][2]["percentile"] * 100 %>",
	      		 "<%= @response["personality"][3]["percentile"] * 100 %>",
	      		 "<%= @response["personality"][4]["percentile"] * 100 %>"
	      		],
	      backgroundColor: "rgba(186, 53, 40, 0.4)",

	    }]
	  },
	  options: { 
        legend: {
            labels: {
                fontColor: "white"                
            }
        },

        scale: {
        	gridLines: {
        		color: "white"
        	},

        	pointLabels: {
            backgroundColor: "white"
          }
        }


    }
	});
	Chart.defaults.global.defaultFontColor = 'white';



</script>
<div style="color: white">
	<% @recommended.each do |gift| %>
		<p><%= gift.title %></p>
		<p><%= gift.tags %></p>
		<div style="max-width: 200px">
			<%= image_tag(gift.images.first.src) %>
		</div>
	<% end %>
</div>


</body>
</html>
