<header>
      <nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper"><a class="brand-logo"><i class="material-icons">bubble_chart</i>Merlin</a></div>
        </div>
      </nav>
</header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
</canvas><canvas id="personalityChart"></canvas>
<script type="text/javascript">
	var ctx = document.getElementById('personalityChart').getContext('2d')
	var personalityChart = new Chart(ctx, {
	  type: 'bar',
	  data: {
	    labels: ['Openness', 'Extraversion', 'Emotional Range', 'Conscientiousness', 'Agreeableness'],
	    fontSize: "20",
	    datasets: [{
          pointHighlightFill : "gray",
	      label: 'Percentil',

	      data: ["<%= @response["personality"][0]["percentile"] * 100 %>",
	      		 "<%= @response["personality"][1]["percentile"] * 100 %>",
	      		 "<%= @response["personality"][2]["percentile"] * 100 %>",
	      		 "<%= @response["personality"][3]["percentile"] * 100 %>",
	      		 "<%= @response["personality"][4]["percentile"] * 100 %>"
	      		],
	      backgroundColor: "rgba(186, 53, 40, 0.4)",

	    }]
	  },
	  options: { 
        legend: {
            labels: {
                fontColor: "gray" 
                              
            }
        },

        scale: {
        	gridLines: {
        		color: "gray"
        		
        	},

        	pointLabels: {
            backgroundColor: "gray"
           
          }
        }


    }
	});
	Chart.defaults.global.defaultFontColor = 'gray';



</script>
<div class="line"></div>

<div class="product-content">
<div style="color: white">
	<% @recommended.each do |gift| %>
		<div class="product-title"><p><%= gift.title %></p></div>
		<p><%= gift.tags %></p>
		<div class="product-price"><p>$<%= gift.variants.first.price %> </p></div>
		<div class="link-a"> <p><%= link_to "Comprar en la tienda",  "https://www.everydaystore.net/products/#{gift.handle}" %> </p></div>
		<div style="max-width: 250px">
			<%= image_tag(gift.images.first.src) %>
		</div>
	<% end %>
</div>
</div>
<style>

.line{
	border-top: 1px solid rgba(255,255,255,.1);
	margin-top: 1em;
}

.product-price{
	font-size: 21.5px;
	margin-bottom: .3em;
    margin-top: .3em;
}

.product-title {
	font-size: 21.5px;
	margin-bottom: .3em;
	margin-top: .3em;

}

.product-content {
	font-family: 'Open Sans', 'sans serif';
	margin-left: 5em;
}

.link-a a{
	color: #000;
	text-decoration: none;
	font-size: 21.5px;
	border: 1px solid rgba(255,255,255, 1);
	display: block;
	padding: 8px;
	float: left;
	border-radius: 10px;
	background-color: rgba(255,255,255, .8);
	margin-bottom: .5em;
	margin-top: .5em;
}

.link-a a:hover{
	color: #000;
	text-decoration: none;
	font-size: 21.5px;
	border: 1px solid rgba(255,255,255, .2);
	display: block;
	padding: 8px;
	float: left;
	border-radius: 10px;
	background-color: rgba(255,255,255, .2);
	margin-bottom: .5em;
	margin-top: .5em;
}

.link-a a:active{
	color: #000;
	text-decoration: none;
	font-size: 21.5px;
	border: 1px solid rgba(255,255,255, .2);
	display: block;
	padding: 8px;
	float: left;
	border-radius: 10px;
	background-color: rgba(255,255,255, .2);
	margin-bottom: .5em;
	margin-top: .5em;
}

</style>

